body {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.nav-link,
.btn-outline-light {
  text-transform: uppercase;
}

.nav-link {
  color: #ff0000;
  border-radius: 10px;
  margin: 5px;
}

.nav-link:hover {
  color: #FFFFFF;
  border-color: #FF0000;
  background-color: #FF0000;
  border-radius: 10px;
}

.btn-outline-light {
  color: #FF0000;
  border-color: #FF0000;
  margin: 5px;
}

.btn-outline-light:hover {
  color: #FFFFFF;
  border-color: #FF0000;
  background-color: #FF0000;
}

main .botao-voltar {
  color: #FF0000;
  border-color: #FF0000;
  margin: 5px;
}

main .botao-voltar:hover {
  color: #FFFFFF;
  border-color: #FF0000;
  background-color: #FF0000;
}

footer .nav-link {
  color: #FF0000;
  border-radius: 5px;
}

footer .nav-link:hover {
  color: #FFFFFF;
  border-radius: 5px;
  border: solid 1px #FF0000;
}

body {
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

header {
  height: 10vh;
}

main {
  height: auto;
  align-items: center;
  justify-content: center;
}

footer {
  height: auto;
}